/* Reset some basic styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.home-container {
  
  margin: 0 ;
  padding: 0 ;
}


img {
  max-width: 100%;
  height: auto;
}
